<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132336651639-b76csnidamh1ock4d671bqv3pk72ielt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132336651639-b76csnidamh1ock4d671bqv3pk72ielt</string>
	<key>API_KEY</key>
	<string>AIzaSyB6QLexwxb3J1yuAq7m6CK80ZKYiZq42iY</string>
	<key>GCM_SENDER_ID</key>
	<string>132336651639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trackcovid.trackcovid</string>
	<key>PROJECT_ID</key>
	<string>trackcovid-9effe</string>
	<key>STORAGE_BUCKET</key>
	<string>trackcovid-9effe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132336651639:ios:49cf85408e548a966c6572</string>
	<key>DATABASE_URL</key>
	<string>https://trackcovid-9effe.firebaseio.com</string>
</dict>
</plist>