<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885520743262-69j5k7krith9vt0nj1ara3qfnqtd3al8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885520743262-69j5k7krith9vt0nj1ara3qfnqtd3al8</string>
	<key>API_KEY</key>
	<string>AIzaSyDijbaDSQEea3FS5-BKaa9QuHAG9SJqLhI</string>
	<key>GCM_SENDER_ID</key>
	<string>885520743262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yzapps.Track-Covid</string>
	<key>PROJECT_ID</key>
	<string>trackcovid-d8277</string>
	<key>STORAGE_BUCKET</key>
	<string>trackcovid-d8277.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885520743262:ios:c410c6d03fa1f2802dedcf</string>
	<key>DATABASE_URL</key>
	<string>https://trackcovid-d8277.firebaseio.com</string>
</dict>
</plist>